<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <bean id="addressBean" class="fit.iuh.se.ltwww_java_25092025_tuan06_dangnguyentienphat.bai2.xml_based.Address">
        <property name="city" value="Thu Duc"/>
        <property name="state" value="Under the hood!"/>
        <property name="country" value="Viet Nam"/>
    </bean>

    <bean id="employeeBean" class="fit.iuh.se.ltwww_java_25092025_tuan06_dangnguyentienphat.bai2.xml_based.Employee">
        <property name="id" value="1" />
        <property name="name" value="Meo Ngot" />
        <property name="address" ref="addressBean" />
    </bean>

    <bean id="employeeBeanConstructor" class="fit.iuh.se.ltwww_java_25092025_tuan06_dangnguyentienphat.bai2.xml_based.Employee">
        <constructor-arg value="2"/>
        <constructor-arg value="Keo Chanh"/>
        <constructor-arg ref="addressBean"/>
    </bean>
</beans>